<!doctype html>
<html lang="en">
<!--This page will show salaries of all the employees(current or **ex**) and payment option and salry slips and history admin can search the name of employee and info will load) -->
<!--only difference with hr's salary page would be that they cant access older employee info while admin can -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Manage Salaries</title>
  <link rel="stylesheet" href="../../../assets/css/styles.min.css" />
</head>
<body>
  <div class="page-wrapper">
    <main class="container-fluid px-4 py-4">
        <h2>Salaries</h2>
        <div id="admin-salaries-ui"></div>
    </main>
    </div>
    <script src="../../../assets/js/auth.js"></script>
</body>
</html>
